timm==1.0.17
gradio==5.38.0
gradio_client==1.11.0
pillow==10.2.0
scikit-image==0.25.2
matplotlib==3.10.3
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
kornia==0.8.1
kornia_rs==0.1.9
